.home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0vh 4vw 6vh 4vw;
}

.home .content {
    min-width: 35vh;
    margin-top: 8vh;
    width: 100%;
}

.home .content .title {
    width: 50%;
}

.home .content .title h1 {
    font-size: xx-large;
    font-weight: 700;
    word-wrap: break-word;
}

.home .content .title h2 {
    font-size: x-large;
    font-weight: 400;
    margin-top: -1.5rem;
}

.home .content p {
    word-wrap: break-word;
    width: 60%;
}

.home .call-to-action {
    text-decoration: none;
    color: white;
    background-color: #1976d2;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    box-shadow: 0;
    transition: 0.3s;
    font-size: medium;
}

.home .call-to-action:hover {
    box-shadow: 0 2px 4px var(--shadow-color);
}

.home .picture {
    align-self: center;
    border-radius: 50%;
    box-shadow: 6px 6px 5px 3px var(--shadow-color);
}

.home .picture img {
    clip-path: circle(50% at 50% 50%);
    object-fit: cover;
    width: 20rem;
    height: 20rem;
    border-radius: 1vw;
    margin: -5px; /* For the drop shadow */
}

@media (max-width: 640px) {
    /* About page */
    .home {
        flex-direction: column;
    }
    .home .content {
        text-align: center;
    }
    .home .content .title {
        width: auto;
    }
    .home .content p {
        width: 100%;
    }
    .home .content>ul {
        text-align: center;
        padding-left: 0vw;
        list-style-position: inside;
    }
    .home .picture {
        align-self: center;
        margin-top: 4vh;
    }
    .home .picture img {
        width: 10rem;
        height: 10rem;
        border-radius: 1vw;
    }
}