/* Enable animation */

.animate {
    animation-duration: 1s;
    animation-fill-mode: both;
}

/* Movements */

/*=== FADE IN LEFT ===*/

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-25%, 0, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

/*==== FADE IN RIGHT ===*/

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(25%, 0, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

/* Timings */

.one {
    animation-delay: 0.2s;
}

.two {
    animation-delay: 1.1s;
}

.three {
    animation-delay: 2.2s;
}

.four {
    animation-delay: 3.4s;
}

.five {
    animation-delay: 4.4s;
}

.six {
    animation-delay: 5.8s;
}

.seven {
    animation-delay: 6.4s;
}

.eight {
    animation-delay: 6.8s;
}

/* Card animations, a bit different since they have to appear when scrolled to */

.card-anim {
    opacity: 0;
    transform: translateY(-4vh);
    visibility: hidden;
    transition: opacity 1.4s ease-out, transform 0.6s ease-out, visibility 1.4s ease-out;
    will-change: opacity, transform, visibility;
}

.card-anim.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}