/* Full page */

:root {
  --bg-color: rgba(232, 235, 240);
  --shadow-color: rgba(57, 63, 72, 0.3);
  --bg-accent-color: rgb(212, 215, 219);
}

/* Scrollbar */

html {
  font-family: "Lato";
  font-size: 14px;
}

body {
  margin: 0;
  background-color: var(--bg-color);
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* Header */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 2rem;
  height: 64px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.logo {
  font-size: x-large;
  font-weight: 700;
  font-family: "Roboto Mono";
}

nav.items {
  display: flex;
  flex-direction: row;
}

nav.items p {
  font-size: medium;
  font-weight: 300;
  padding-left: 1rem;
  padding-right: 1rem;
  opacity: 0.6;
  transition: 0.3s;
}

nav.items p a {
  color: inherit;
  text-decoration: none;
}

nav.items p:hover {
  opacity: 1;
}

/* Footer */

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0 3px 5px var(--shadow-color);
}

footer span.separator {
  font-weight: 100;
  font-size: x-large;
}

/* About page */

.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0vh 4vw 4vh 4vw;
}

.home .content {
  min-width: 35vh;
  margin-top: 8vh;
  width: 100%;
}

.home .content h1 {
  font-size: xx-large;
  font-weight: 700;
  word-wrap: break-word;
}

.home .content p {
  word-wrap: break-word;
  width: 60%;
}

.home .picture {
  align-self: flex-end;
}

.home .picture img {
  clip-path: circle(50% at 50% 50%);
  object-fit: cover;
  width: 20rem;
  height: 20rem;
  border-radius: 1vw;
}

/* Works page */

.works {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  padding: 1vh 4vw 4vh 4vw;
  background-color: var(--bg-accent-color);
}

.works .title h2 {
  font-size: x-large;
  font-weight: 600;
  word-wrap: break-word;
}

.works .cards {
  display: grid;
  gap: 10px;
  justify-content: center;
  align-content: flex-start;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1vw 1vh;
}

.works .cards .card {
  background-color: var(--bg-color);
  width: auto;
  padding: 15px 30px 30px 30px;
  box-shadow: 0 4px 8px var(--shadow-color);
  transition: 0.25s;
}

.works .cards .card>p {
  padding-bottom: 0.5rem;
}

.works .cards .card .nameAndYear .year {
  font-weight: 100;
  font-size: small;
}

.works .cards .card .redirects {
  display: flex;
  flex-direction: row;
}

.works .cards .card .projectLink {
  text-decoration: none;
  color: white;
  background-color: #1976d2;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  box-shadow: 0;
  transition: 0.3s;
  margin-right: 10px;
}

.works .cards .card .projectLink:hover {
  box-shadow: 0 2px 4px var(--shadow-color);
}

.works .cards .card .projectLink .icon {
  padding-right: 0.25rem;
}

/* Settings for smaller screens */

@media (max-width: 640px) {
  /* About page */
  .home {
    flex-direction: column;
  }
  .home .content {
    text-align: center;
  }
  .home .content p {
    width: 100%;
  }
  .home .content>ul {
    text-align: center;
    padding-left: 0vw;
    list-style-position: inside;
  }
  .home .picture {
    align-self: center;
  }
  .home .picture img {
    width: 10rem;
    height: 10rem;
    border-radius: 1vw;
  }
}

/* Grid squishes weirdly after 740px */

@media (max-width: 740px) {
  .works .cards {
    grid-template-columns: 1fr;
  }
}