:root {
  --bg-color: rgba(232, 235, 240);
  --shadow-color: rgba(57, 63, 72, 0.3);
  --bg-accent-color: rgb(212, 215, 219);
  --bg-red: #ffcdd2;
  --bg-deep-purple: #e5ddf3;
  --bg-indigo: #c5cae9;
  --bg-blue: #bbdefb;
  --bg-light-blue: #b3e5fc;
  --bg-cyan: #b2ebf2;
  --bg-teal: #b2dfdb;
  --bg-green: #c8e6c9;
  --bg-light-green: #dcedc8;
}

html {
  font-family: "Lato";
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar */

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}